<div class="controls">
  <input [(ngModel)]="startDate" type="date"><input [(ngModel)]="endDate" type="date"> <button (click)="filter()">Filter</button>
</div>
<div class="table-container">
  <table class="by1">
    <thead>
      <tr>
        <th><a (click)="sortBy('city')" class="sort-by">City</a></th>
        <th><a (click)="sortBy('start_date')" class="sort-by">Start Date</a></th>
        <th><a (click)="sortBy('end_date')" class="sort-by">End Date</a></th>
        <th><a (click)="sortBy('price')" class="sort-by">Price</a></th>
        <th><a (click)="sortBy('status')" class="sort-by">Status</a></th>
        <th><a (click)="sortBy('color')" class="sort-by">Color</a></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of entries">
        <td>{{t.city}}</td>
        <td>{{t.start_date|date:'y-M-d'}}</td>
        <td>{{t.end_date|date:'y-M-d'}}</td>
        <td>{{t.price}}</td>
        <td>{{t.status}}</td>
        <td>{{t.color}}</td>
      </tr>
    </tbody>
  </table>
</div>